<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Carrito de compra</title>
  <link rel="stylesheet" href="/css/carrito.css">
  <%- include ('partials/head.ejs') %>
</head>
<body>
  <%- include ('./partials/header.ejs') %> 

  <h1 class="titulo">CARRITO DE COMPRA</h1>
  <section id="carrito">
    
  </section>
  <div class="precio-total">
    <p>TOTAL</p>

     <p></p>   
  </div>
  <br>
  <br>
  <div class="boton text-center"> 
    <a class="btn btn-color" id="Miboton" href="/productos/carrito">PAGAR</a>

  </div>
 
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
    $(document).ready(function() {
      $('.dropdown-toggle').on('click', function() {
        // Cierra todos los menús desplegables
        $('.dropdown-menu').removeClass('show');
        // Abre el menú desplegable asociado al botón que se hizo clic
        $(this).next('.dropdown-menu').toggleClass('show');
      });
    });
  </script>
<script src="/js/carrito.js"></script>
</body>
</html>

