<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title>Consejos para tus Viajes de Surf</title>
    <link href="/css/TipsParaTusViajes.css" rel="stylesheet">
</head>
<body>
    <%- include ('partials/header.ejs') %>

    <div> 
        <img class="imagen" src="/img/historia-del-surf-origenes.jpg">
    </div> 
    <br>
    <br>
    <br>

    <div class="contenedorP">
        <h4 class="titulo">LA HISTORIA DEL SURF</h4>
        ¿Sabías que el Surf es un deporte muy antiguo?… y es que cuando el hombre descubrió que podía sostenerse sobre el agua apoyándose en alguna especie de tabla comenzó a “correr las olas”.
        Sin embargo, el Surf no comenzó como una actividad recreativa y/o deportiva. Existen algunos testimonios sobre indígenas del Perú que pescaban en una embarcación llamada “caballito de totora” que les permitía mantenerse en pie mientras pescaban, luego encontramos referencias en Hawai donde los pobladores habían perfeccionado una especie de tabla y esperaban ansiosos las olas para deslizarse en ellas.
        La historia, origen y evolución de los orígenes del Surf tienen características muy interesantes que despertarán tu interés hacia este deporte, por eso nos motivamos a describirlas en el siguiente post.
        
        Cuando comenzamos a investigar sobre la historia del Surf nos encontramos con la ausencia de documentos escritos originales que puedan atestiguar con certeza el origen y evolución de este deporte hasta este siglo.
        Pero no te desanimes porque hay algunos testimonios de antiguos viajeros europeos que cuando recorrían las diferentes costas en sus largos recorridos para buscar nuevos territorios también documentaron sus experiencias.
        Luego aparecieron imágenes captadas en diferentes costas donde nativos utilizaban algunos tipos de tablas para equilibrarse sobre las olas, pero el Surf decae ante la llegada de misioneros cristianos a las islas quienes lo vieron como algo propio de los salvajes, una práctica primitiva. Durante muchos años fue prohibido llegando casi hasta el olvido.
        Todo esto se complementó con la aparición del Surf moderno que al extenderse por el mundo captó el interés de expertos cronistas logrando así reconstruir la historia del Surf que puedes encontrar en diferentes documentos y páginas web.
        Los primeros campeonatos del Surf que alcanzaron la categoría mundial se realizaron en Sidney en 1964, por eso a nivel deportivo, se puede considerar que el Surf es un deporte nuevo, de allí que los grandes cambios en la tabla y algunos movimientos surjan apenas en el siglo XX.
        
        ¿POR QUÉ SE LLAMA SURF?
        Cuando escuchas la palabra Surf, tal vez piensas en el mar y las olas. Si es tu caso no estás muy alejado del significado de esta palabra.
        Se llama Surf por su origen en inglés que significa “cresta de ola, rompiente o marejada”  y fue el término con el que identificaron esta actividad en la bahía hawaiana de Kealakekua en la imagen del renombrado artista  John Webber.
        ORÍGENES DEL SURF
        Los orígenes del Surf  se ubican hacia el año 1771 cuando el capitán James Cook presencia las piruetas que realizaban los indígenas en un grupo de Islas que luego llamarían Hawai, además puedes encontrar referencias sobre la invención de la tabla de Surf por nativos de esta isla quienes se referían al Surf como He´enalu en su lengua natal.
        En sus inicios se describía como una actividad muy peligrosa y parecía increíble que cualquier persona pudiese aprenderlo. Era practicado solo por hombres entre 20 y 30 años, porque
        Además, existía discriminación de clases, porque solo se le permitía a los nobles practicar Surf y se les reservaban las mejores playas, mientras que era prohibido para las clases bajas, aunque algunos lograban acceder a este privilegio surfeando en tablas muy pesadas.
        
        EVOLUCIÓN DEL SURF A LA ACTUALIDAD
        Revisando toda la historia del Surf nos encontramos con algunas anécdotas muy interesantes y además que pueden mostrar cómo fue la evolución del Surf hasta la actualidad. 
        Toda esa información la organizamos para que la veas de manera cronológica a continuación:
        * 1778: El Capitán Cook explora las costas de Hawai y descubre una actividad muy interesante que realizaban los nativos sobre una tabla para sortear las olas y mantenerse sobre su cresta.
        * 1800: El Surf va en declive porque los europeos imponen sus costumbres y cultura. Muchos nativos mueren por enfermedades europeas, se pierde gran parte de las tradiciones.
        * 1820: Llegan los misioneros cristianos donde todo se consideraba inmoral incluyendo la práctica del Surf, prácticamente se extinguió esta actividad en toda la isla.
        * 1840: Llegan escritores y periodistas a Hawai quienes denuncian como eran tratados los nativos y comienzan a describir ante el mundo la práctica del Surf. Entre los famosos escritos está el de Mark Twain “Las Aventuras de Tom Sawyer” donde describe la experiencia de un principiante de Surf.
        * 1898: Cae la monarquía hawaiana y la isla pasa a formar parte de los territorios estadounidenses, los nativos ya eran libres para volver a practicar el Surf.
        * Inicios del Siglo XX: Resurgimiento del Surf en las costas hawaianas, en especial la isla de Ohau bajo la dirección de 3 haloes (no nativos) y un nativo hawaiano.
        * 1910-1920: El hawaiano Duke Kajanamoku se erige como campeón olímpico de natación en repetidas ocasiones y en sus viajes alrededor del mundo comienza a practicar Surf  causando gran impacto en el público y despertando su interés.
        * 1930-1940: El Surf se hace popular en California celebrándose los primeros campeonatos. Muchas fotografías llegan a las revistas y periódicos en todo el mundo.
        * 1950-1960: Surgen investigaciones sobre nuevas formas de tablas de Surf. En este periodo encontraras los primeros indicios de tablas más cortas y finas, la utilización de otros materiales como fibra de vidrio y espuma de poliuretano. Además, el mundo del Surf se llena de música con las creaciones de los Beach Boys.
        * 1970: El Surf llega hasta Europa y se inventa el traje de neopreno, mientras que Mark Richards gana 2 títulos mundiales. Nacen las grandes marcas que ahora conoces: Quiksilver, Billabong, O´neill y Rip Curl. En lo que respecta a la parte técnica se comienza a usar 2 quillas en las tablas.
        * 1980-1990: Más títulos mundiales, cambios en los aspectos técnicos de las tablas al incluir tres quillas y su capacidad para desmontarlas. Cambian el estilo del Surf con nuevas maniobras.
        * Siglo XXI: El internet lanza al Surf hacia la globalización: eventos, equipamiento, instructores, mejores playas, la mejor ola, todo lo encuentras a través de la red. El Surf logra ocupar una gran posición en los deportes a nivel mundial.
        
        
    </div>
    
    


    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').on('click', function() {
                // Cierra todos los menús desplegables
                $('.dropdown-menu').removeClass('show');
                // Abre el menú desplegable asociado al botón que se hizo clic
                $(this).next('.dropdown-menu').toggleClass('show');
            });
        });
    </script>

    <%- include ('partials/footer.ejs') %>
</body>
</html>
