<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title>Document</title>
    <link href="/css/quienesSomos.css" rel="stylesheet">
</head>
<body>
    <%- include ('partials/header.ejs') %>

    <div> 
        <img class="imagen" src="/img/foto333.jpeg">
    </div> 
    <br>
    <br>
    <br>

    <div class="contenedorP">
        <h4 class="titulo">Sobre Nosotros:</h4>
        <h2 class="texto2">Somos un equipo apasionado de entusiastas de los deportes acuáticos comprometidos en hacer que tu experiencia en el agua sea inolvidable. 
        En nuestro sitio, fusionamos nuestra pasión por el surf, el viento y las olas para ofrecerte el mejor servicio.
        Queremos ser tu compañero confiable, proporcionándote la información y las herramientas necesarias para sacar el máximo provecho de tus aventuras acuáticas en tus viajes.
        </h2>
        <p class="texto3">Tu Portal de Deportes Acuáticos y Aventuras Marinas. Seagull es una plataforma dedicada al apasionante mundo de los deportes acuáticos y las experiencias en el mar. Ofrecemos una amplia gama de información valiosa y productos de alta calidad bajo nuestra propia marca.
        <br>
        <br>
        <h4 class="titulo">Explora el Mundo de los Deportes Acuáticos:</h4>
         <p class="texto3">En Seagull, proporcionamos una abundancia de información y recursos para entusiastas de los deportes acuáticos, lo que facilita la exploración de los destinos más emocionantes para surf, kite surf, buceo y otras actividades marinas en todo el mundo. Con descripciones detalladas, opiniones y conocimientos de expertos, puedes planificar tu próxima aventura en el agua con total confianza.</p>
        <br>
        <br>
        <h4 class="titulo">Productos de Calidad Seagull: </h4> 
        <p class="texto3"> Además de ser tu fuente principal de conocimiento sobre deportes acuáticos, Seagull se enorgullece de ofrecer una selección de productos de alta calidad bajo nuestra propia marca. Desde ropa elegante y tablas de surf hasta equipo esencial como trajes de neopreno, equipo de snorkel y termos aislados para bebidas etc.En Seagull tenemos todo lo que necesitas. Nuestros productos están diseñados con pasión y fabricados para un rendimiento óptimo, garantizándote las mejores herramientas para aprovechar al máximo tus experiencias en el agua. </p>
        <br>
        <br>
        <h4 class="titulo">Únete a la Comunidad Seagull:</h4> 
        <p class="texto3">Si tienes una escuela de deportes acuáticos y deseas expandir tu alcance y conectarte con una audiencia global, en Seagull proporcionamos una plataforma donde puedes presentar tu solicitud para ser listado. Nuestro proceso de solicitud simplificado garantiza que las escuelas e instructores potenciales puedan enviar su información fácilmente, que luego es revisada y aprobada minuciosamente por nuestro dedicado equipo de administradores de Seagull. Una vez aceptados, los detalles de tu escuela se publican, lo que te permite llegar a una clientela más amplia y diversa. </p> 
        <br> 
        <br>
        <h4 class="titulo">Administrado por Expertos de Seagull:</h4>
        <p class="texto3">   En el corazón de nuestra plataforma Seagull se encuentran nuestros administradores dedicados, los únicos responsables de curar cuidadosamente las escuelas e instructores que aparecen en nuestro sitio web. Su experiencia en deportes acuáticos garantiza que solo los proveedores de la más alta calidad sean destacados, ofreciendo a los usuarios de Seagull una sensación de confianza y fiabilidad al elegir la escuela perfecta para sus necesidades. </p> 
        <br>
        <br>
      <p class="texto3"> En resumen, Seagull es una plataforma unica para los entusiastas de los deportes acuáticos, ofreciendo una amplia gama de información y una selección de productos premium para mejorar tus experiencias en el agua. Ya sea que estés planificando tu próxima aventura, buscando equipo de alta calidad o deseando promover tu escuela de deportes acuáticos, Seagull está aquí para respaldar tu viaje en el emocionante mundo del surf, kite surf, buceo y más.</p> 
     </p>
    </div>
    <br>
    <br>
    <br>
    <div class="contenedorH2">
        <h4 class="titulo">a-MAR:</h4>
        <h2 class="texto2">El simbolismo de seagull (gaviota) está definido por la idea de que frente a las mayores adversidades se puede encontrar una salida, que siempre hay oportunidades en todo, incluso en los lugares más insólitos.

        Su significado sigue la filosofía de que estamos en un lugar y tiempo por una razón, que debemos confiar en los instintos y ser optimistas frente a lo que nos sucede. Estos seres nos recuerdan que todo tiene un propósito.
        
        Es la idea que queremos reflejar tanto en nuestra página como en las escuelas que forman parte, y sobre todo el amor el mar.
        </h2>
    </div>
    <br>
    <br>
    <br>
    
    <br>
    <br>
    <br>

    <div class="contenedor">

        <h4 class="titulo">Escuelas De Surf:</h4>
                <p  class="texto2" >¿Tenes una escuela y queres sumarte a la comunidad Seagull?
                    Completa el formulario y pronto tu escuela estara disponible para todos los apasionados 
                    por estos deportes.
                </p>
        <a class="dropdown-ite" href="/escuelas/escuelascreate">¡Suma tu escuela!</a>
    </div>
    <br>
    <br>
    <br>

    <div class="contenedorH2">
        <h4 class="titulo">Nuestros Productos:</h4>
        <h2 class="texto2">Nuestra colección de productos está diseñada pensando en la pasión por el surf y el amor por el mar. 
        Cada artículo ha sido cuidadosamente seleccionado y elaborado para brindarte comodidad, estilo y funcionalidad en tus aventuras junto a las olas.
        Desde nuestras botellas térmicas que mantienen tus bebidas a la temperatura perfecta durante horas en la playa, nuestro protector solar de alto rendimiento que mantiene tu piel protegida hasta nuestros buzos de alta calidad que te abrazan con calidez en las aguas frías, nuestros productos se adaptan a cada aspecto de tu día en la costa.     
        </h2>
        <a class="dropdown-ite" href="/productos/productos">Productos Online</a>
    </div>
    <br>
    <br>
    <br>
    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').on('click', function() {
                // Cierra todos los menús desplegables
                $('.dropdown-menu').removeClass('show');
                // Abre el menú desplegable asociado al botón que se hizo clic
                $(this).next('.dropdown-menu').toggleClass('show');
            });
        });
    </script>

    <%- include ('partials/footer.ejs') %>
</body>
</html>
