<!DOCTYPE html>
<html lang="en">

<%- include ('partials/head.ejs') %>
<link rel="stylesheet" href="/css/register.css">

<body>
    <%- include ('partials/header.ejs') %>
    
    <main>
        <div class="contenedor_form">
            <div class="div_form">
                <div class="errores">
                    <ul></ul>
                </div>
                <form method="POST" action="/users/register" enctype="multipart/form-data" class="formulario" name="formularioUsuario">
                    <p>Regístrate y serás parte de la familia Seagull</p>
                    <div class="completar">
                        <input name="nombre" type="text" placeholder="Nombre completo" class="nombre" value="">
                        <div class="text-error nombre-error"></div>
                        <input name="email" type="email" placeholder="E-mail" class="email" value="">
                        <div class="text-error email-error"></div>
                        <input name="contrasena" type="password" placeholder="Contraseña" class="contrasena">
                        <div class="text-error contrasena-error"></div>
                        <input name="telefono" type="tel" placeholder="Teléfono" class="telefono" value="">
                        <div class="text-error telefono-error"></div>
                    </div>
                    <div class="boton text-center">
                        <input type="submit" value="REGISTRARME" class="btn  btn-color" href="">
                    </div>
                </form>
            </div>
        </div>
    </main>
    
    <script>
        $(document).ready(function() {
          $('.dropdown-toggle').on('click', function() {
            $('.dropdown-menu').removeClass('show');
            $(this).next('.dropdown-menu').toggleClass('show');
          });
        });
      </script>
      <script src="/js/validaciones.js"></script>
</body>
</html>