<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%- include ('partials/head.ejs') %>
    <title>Tips para tu rendimiento</title>
    <link href="/css/TipsParaTusViajes.css" rel="stylesheet">
</head>
<body>
    <%- include ('partials/header.ejs') %>

    <div> 
        <img class="imagen" src="/img/Kelly.jpg">
    </div> 
    <br>
    <br>
    <br>

    <div class="contenedorP">
        <h4 class="titulo">CONSEJOS DE LOS MEJORES PROFESIONALES</h4>
        <h2 class="texto2">Los 10 consejos de alimentación de Kelly Slater</h2>
        <h2 class="texto2">1. Semillas de Chia</h2>
        <p class="texto3">
            Estas semillas están sin procesar, grano entero rico en proteínas, grasas Omega-3, fibra y ácidos grasos. Son beneficiosas para la piel y el envejecimiento, la salud digestiva, la salud del corazón, proporcionan un impulso de energía y apoyan a tener un metabolismo saludable, construir músculo, ayudan a perder peso y combatir el cáncer de mama y la diabetes.
        </p>
        <h2 class="texto2">2. Kimchi</h2>
        <p class="texto3">
            Una mezcla fermentada de repollo y especia coreana, el kimchi es bajo en calorías pero alto en nutrientes como aminoácidos, antioxidantes, fibra, vitamina A y C, y probióticos. Apoya el sistema inmunológico, regula los niveles de colesterol, mejora la digestión, tiene propiedades anti-obesidad y antienvejecimiento, y reduce el riesgo de cáncer.
        </p>
        <h2 class="texto2">3. Carne Vacuna Orgánica</h2>
        <p class="texto3">
            Alimentada de pasto, de acuerdo con Eat Wild, "Si todos los estadounidenses cambiaran a las carnes vacunas alimentadas con pasto, nuestra epidemia nacional de obesidad podría disminuir". Es más baja en grasas y calorías, 2-4 veces más alta en Omega-3 que la carne de vaca alimentada con grano, alta en CLA (reducción del riesgo de cáncer) y Vitamina E (un antioxidante con propiedades antienvejecimiento).
        </p>
        <h2 class="texto2">4. Extracto de Cuerno de Alce</h2>
        <p class="texto3">
            Una antigua medicina china probada para proporcionar alivio de la artritis, el extracto de cuerno de alce tiene propiedades antienvejecimiento, mejora el rendimiento atlético y la agudeza mental, construye músculo, apoya el flujo sanguíneo saludable y el sistema inmunológico.
        </p>
        <h2 class="texto2">5. Polen de Abeja</h2>
        <p class="texto3">
            Considerado "uno de los alimentos más nutritivos de la naturaleza", el polen de abeja es aproximadamente 40% de proteína. El polen mejora la resistencia y la vitalidad, reduce los antojos y las adicciones, remedia las alergias, previene las enfermedades infecciosas (es decir, el resfriado y la gripe), regula los intestinos, mantiene la piel sana y ayuda a superar problemas de desarrollo en los niños.
        </p>
        <h2 class="texto2">6. Quelpo</h2>
        <p class="texto3">
            El quelpo es una alga marrón rica en nutrientes, baja en grasas y calorías pero alta en antioxidantes, minerales (particularmente yodo y calcio), enzimas y fibra. Aumenta el funcionamiento del cerebro y los niveles de energía, promueve la pérdida de peso y la producción de hormona tiroidea, fortalece los huesos y los músculos y beneficia la salud cardiovascular.
        </p>
        <h2 class="texto2">7. Ginseng</h2>

        <p class="texto3">
            El ginseng es un remedio de hierbas antiguo que contiene ginsenósidos, que mejoran la memoria y el estado de ánimo, combaten la diabetes, el cáncer, el TDAH y reducen el riesgo relativo de enfermedades respiratorias en un 48%.
        </p>
        <h2 class="texto2">8. Shilajit</h2>

        <p class="texto3">
            Destacado en la India como el "Destructor de la Debilidad", esta biomasa resinosa rica en nutrientes contiene ácidos húmicos y fúlvicos. Shilajit apoya la producción de energía y rejuvenecimiento celular, azúcar en la sangre equilibrada, absorción de nutrientes vitales, inteligencia aguda, desintoxicación eficiente, así como la mejora de la memoria y el estado de ánimo.
        </p>
        <h2 class="texto2">9. Ashwagandha</h2>

        <p class="texto3">
            AKA Ginseng indio, Ashwagandha es una planta resistente con propiedades antiinflamatorias, antibacterianas, antidepresivas, cardio protectoras, antidiabéticas, de alivio del estrés, antioxidantes y afrodisíacas.
        </p>
        <h2 class="texto2">10. Leche de Almendras</h2>
    
        <p class="texto3">
            Baja en grasa pero alta en energía, esta alternativa láctea contiene cero colesterol o lactosa y es rica en proteínas, lípidos, minerales (Calcio, Hierro y Potasio, por nombrar algunos) y vitaminas. Conocido para reducir el riesgo de cáncer, así como la presión arterial alta, fortalecer los huesos y los músculos, mejorar la visión y la salud del corazón, los riñones y la piel, y sorprendentemente, es un sustituto de la leche materna.
        </p>
        <br>
        <h2 class="texto2">Consejos de Mick Fanning</h2>
        <br>
        <h2 class="texto2">1. Acierta con el equipamiento</h2>
        <p class="texto3">
            Lo primero es acertar con el equipamiento. Para empezar, si estás aprendiendo, cuanto más grande, mejor... Cuanto más grande sea la tabla es más fácil aprender y comenzar a sentir las olas. Y luego, a medida que avanzas, sólo tienes que prestarle atención a tu equipamiento y aprender qué tablas funcionan para mejor para ti y qué tipo de surfing quieres hacer. ¡Tienes que conocer tu equipamiento! ¡Es la clave!
        </p>
        <h2 class="texto2">2. ¡No pierdas la forma!</h2>
        <p class="texto3">
            ¡Tienes que estar en forma! ¿Cómo? Haciendo cosas que te ayuden a coger más olas. Tienes que tener una condición física que te permita entrar al agua todos los días. El surf es la mejor forma de entrenar el surf pero, cuando no hay olas, o por lo que sea no puedes surfear, vete a correr o al gimnasio, por ejemplo... pero siempre teniendo en cuenta que los músculos grandes no te harán un mejor surfista, pero sí te harán estar más en forma.
        </p>
        <h2 class="texto2">3. Surfea con gente mejor que tú</h2>
        <p class="texto3">
            ¡Surfea siempre con mejores surfistas que tú! Fíjate en alguien que surfee mejor que tú y esfuérzate por alcanzarle, como hacen los niños... ¡Yo siempre intento hacer como un niño! Cuando era pequeño, tuve la suerte de que en mi propia playa tuviera tipos como Occy (Mark Occhilupo) o Luke Egan. ¡Había muchos surfistas increíbles allí! Y luego crecí con surfers como Parko (Joel Parkinson) o Dean Morrison, así que sí, siempre hemos estado luchando unos con otros.
        </p>
        <h2 class="texto2">4. Vigila la técnica</h2>
        <p class="texto3">
            La técnica es sabia. Casi todo el mundo tiene una cámara hoy en día, así que sólo tienes que echar un vistazo a tu técnica y luego echar un vistazo a la técnica de los mejores surfers y seguro que descubrirás pequeñas cosas. Creo que esto es común a todos los deportes. Todos miran a todos y van cogiendo cositas pequeñas de cada sitio. En mi caso, siempre fue fijarme en toda la gente que practicaba surf de una manera diferente y simplemente sacar pequeñas piezas de lo que hacían para intentar implementarlo en mi régimen de entrenamiento.
        </p>
        <h2 class="texto2">5. ¡Diviértete!</h2>
        <p class="texto3">
            El último consejo es sencillo: simplemente divertirse. ¡Tu surf es mucho más fluido y radical cuando te estás divirtiendo!
        </p>
        <br>
        <br>
        <h2 class="texto2">Consejos de Gabriel Medina</h2>
        <br>
        <p class="texto3">

            "El skate, sobre todo las tablas de carving o surfskate, que permiten giros similares a los de una tabla de surf, transmite al cuerpo sensaciones y órdenes físicas muy parecidas a las que sentimos sobre las olas. Repetir ese cut back o ese snap sobre las ruedas de un skate en una ligera pendiente ayuda a memorizar y perfeccionar las maniobras, así como a fortalecer músculos y equilibrio."
        </p>
        <p class="texto3">
            "Para el longboard, las tablas de skate grandes permiten caminar adelante y atrás, mejorar técnica de hang fives y tens, el drop knee turn, etc."
        </p>
        <p class="texto3">
            "Y si puedes skatear en un bowl o pool con cierta vertical, tu velocidad y precisión en olas rápidas y huecas se verá muy reforzada. Eso sí, siempre con elementos de seguridad, protecciones y mucha prudencia. ¡El suelo es más duro que el agua!"
        </p>
        <p class="texto3">
            "No analices las maniobras constantemente, no apliques una visión 100% racional o técnica a tu surf. Las olas son algo vivo y en movimiento y hay muchos detalles sobre deslizarse en ellas que no se pueden enseñar o explicar, solamente sentir. Cada ola es diferente, cada sesión aporta. Recuerda que el surf, básicamente, es instintivo y natural."
        </p>
        <p class="texto3">
            "Conectarse con el medio y entender el mar, un elemento que no es el nuestro, resulta fundamental. Aprender de sus ritmos, mareas, corrientes, comportamientos y cambios. Surfeamos en el más maravilloso entorno natural y no en un campo de deportes. Eso hace que entrenar maniobras y gimnasio no sea solo lo principal. Conoce bien el mar y adáptate."
        </p>
        <p class="texto3">
            "Nuestra impresión de la ola que pillamos siempre es diferente y, a menudo, mucho mejor que la real. Las olas nos parecen más grandes, nuestro estilo mejor y las maniobras que hacemos son mucho más radicales y perfectas."
        </p>
        <p class="texto3">
            "Vernos en una grabación nos muestra la realidad de nuestro surfing y nos permite corregir y mejorar muchas cosas: posición de pies y brazos, el take off, los giros.. Además de ser una buena cura de humildad y ponernos los pies sobre la tierra."
        </p>
        <p class="texto3">
            "Esto no funciona para todo el mundo, hay personalidades muy individualistas o zonas que carecen de clubs o con pocos surfistas (¡afortunados ellos!), pero la ayuda de motivación que representa un grupo de “colegas” surferos es muy grande. Entre todos es más fácil saber cuándo rompe tal o cual ola. Y para ello tienes una herramienta eficaz: las previsiones de olas de Todosurf.com."
        </p>
        <p class="texto3">
            "También es posible encontrar un medio de transporte compartido para llegar al spot, dividir gastos en viajes y material y, sobre todo, motivarse a entrar a esas olas que parecen demasiado grandes o rápidas o demasiado malas y compartir charlas, proyectos…"
        </p>
        <p class="texto3">
            "Además de tus sesiones de Freesurf, es muy bueno conocer el ambiente de un campeonato de surf, desde los campeonatos locales a un WCT si tienes oportunidad. El nivel de surfistas y material, la concentración y competitividad, toda la intensidad que envuelve un evento de surf… todo ello es enriquecedor."
        </p>
        <p class="texto3">
            "Te guste o no, forma parte del mundo del surfing y debes conocer esa experiencia al menos una vez y juzgar por ti mismo. Si la competición te llama, qué mejor que ver de cerca y en acción a los mejores y empezar a participar en campeonatos pequeños para aprender a gestionar estrés y estrategias."
        </p>
        <p class="texto3">
            "Aprende a crear un quiver, una serie de tablas, que se adapten a tu nivel de surf, a las olas que sueles surfear y a tu evolución en cada momento. No caigas en la tentación de tener tablas simplemente porque son bonitas o están de moda. Pruébalas, ponlas en verdadero test con tus aptitudes y olas y sé sincero contigo mismo."
        </p>
        <p class="texto3">
            "Trabaja de igual manera con las quillas, neoprenos, etc. Tu material es crucial y tu elección de tabla para cada día y tipo de surf determinará una sesión de provecho o estar fuera de onda con el equipo inadecuado."
        </p>


        <p class="texto3">
            "Controlar, ser consciente de cómo nos sentimos, intentar dejar los problemas y preocupaciones en tierra y disfrutar del contacto con las olas es crucial."
        </p>
        <p class="texto3">
            "Mantener un estado mental sólido, enfocado y también una cordial y respetuosa onda con los demás surfistas en el pico es necesario para surfear en equilibrio emocional, sin enfados, gritos o malas caras y actitudes agresivas.  Recuerda: El mejor surfer es el que más se divierte."
        </p>
        <h2 class="texto2"> De todas las olas se aprende</h2>
        <p class="texto3">
            "Esté revuelto, ventoso, pequeño, mezclado, orillero, cerrón, con gran crowd o enorme, rapidísimo, vertical, super tubero, sea como sea la sesión, todas las olas enseñan algo nuevo y pueden ser divertidas. El peor baño de surf es aquel que no nos damos."
        </p>
        <p class="texto3">
            "Surfear en distintas condiciones es importante ya que enseña a adaptarse a olas diferentes, a ritmos y surf de todo tipo. Si esperas solo los días perfectos para entrar y no surfeas las demás sesiones diciendo que las olas no están lo suficientemente buenas para ti, surfearás poco y mal."
        </p>
     
        <p class="texto3">
            "El surf es una actividad física, un deporte, un camino de superación, un modo de vida, una profesión, una religión, un entretenimiento, un ejercicio físico, una moda, una vía de escape, una filosofía... Lo tomes como lo tomes, lo principal es divertirse y conectar con la naturaleza y las olas, esas ondas de energía líquida."
        </p>
        <p class="texto3">
            "Sé humilde y recuerda que todos fuimos principiantes y que los mejores y más grandes surfistas son los más amables y menos vanidosos. Un buen surfista no desprecia a los que comienzan sino que les ayuda y aconseja."
        </p>
        <p class="texto3">
            "Ten constancia, entrena, aprende, adáptate y respeta la naturaleza y a los demás surfers. Y disfruta!"
        </p>
    </div>

    <script>
        $(document).ready(function() {
            $('.dropdown-toggle').on('click', function() {
                // Cierra todos los menús desplegables
                $('.dropdown-menu').removeClass('show');
                // Abre el menú desplegable asociado al botón que se hizo clic
                $(this).next('.dropdown-menu').toggleClass('show');
            });
        });
    </script>

    <%- include ('partials/footer.ejs') %>
</body