body {
  background-image: url(/img/fondoMar.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  overflow: hidden;
  overflow-y: scroll;
  margin: 0;
}

/* Estilos por defecto */
.titulo {
  font-family: 'Klee One';
  font-size: 24px;
  color: #7cb1b8;
  text-align: center;
  font-weight: bold;
  margin-top: 1%;
  margin-bottom: 150px;
}

.texto-contenedor h3 {
  font-family: "Roboto Mono";
  margin-top: 2%;
  font-size: 14px;
  color: #5F6368;
  text-decoration: underline;
}

/* Estilos para los productos en el carrito */
.producto-en-carrito {
  display: flex;
  flex-direction: column; /* Aplicar Flexbox en dirección de columna */
  align-items: center; /* Centrar horizontalmente */
  text-align: center; /* Alinear el texto al centro */
  margin-bottom: 20px;
}

.producto-en-carrito img {
  max-width: 400px; /* Tamaño máximo de la imagen */
  max-height: 330px; /* Tamaño máximo de la imagen */
  border-radius: 7px;

}

.producto-en-carrito h4 {
  margin: 10px 0; /* Agregar un espacio entre la imagen y el nombre */
  font-size: 18px;
}

.producto-en-carrito p {
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 7px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
}
.precio-total {
  width: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 7px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
}

.Boton_editar {
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Ajusta este valor para controlar la separación vertical */
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 9px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
}

.Boton_borrar:hover,
.Boton_editar:hover {
  color: #1A545C;
}
.btn-eliminar {
  width: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto; /* Ajusta este valor para controlar la separación vertical */
  background-color: rgba(62, 135, 145, 0.459);
  border-radius: 9px;
  font-family: "Roboto Mono";
  font-size: 12px;
  color: beige;
  border: #FFFFFF;
}

.btn-eliminar:hover {
  color: #1A545C;
}

.btn {
  font-family: "Klee One" !important;
  color: white !important;
  font-size: 15px;
}

.btn-color {
  background-color: #1A545C !important;
  color: #FFFFFF;
  font-family: "Klee One" !important;
}

.btn-color:hover {
  color: #a2cdd3 !important;
}

footer {
  margin-top: -130px;
}



/* Estilos responsivos */
@media screen and (max-width: 1200px) {
  .item-contenedor {
    width: 60vw;
  }
}

@media screen and (max-width: 768px) {
  .item-contenedor {
    width: 80vw;
  }

  .precio-total {
    margin-right: 5%;
    margin-left: 5%;
  }
}

@media screen and (max-width: 600px) {
  .item-contenedor {
    width: 90vw;
    max-width: 300px;
  }

  .precio-total {
    margin-right: 5%;
    margin-left: 5%;
  }
}
